<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/jpg" href="../static/img/IMG_20220305_123127304_HDR.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Rafael Motta</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
    <section class="profile">
        <img src="../static/img/IMG_20220305_123127304_HDR.jpg" alt="Foto do Rafael">
        <h1>Rafael Motta</h1>
        <div class="social-links mt-4 text-center">
            <a target="_blank" href="https://www.linkedin.com/in/rafael-motta-rio/">
                <i class="bi bi-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/mottarafa">
                <i class="bi bi-github"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/mottarafa/">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </section>
    <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-code"></i>Currículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#portfolio"><i class="bi bi-code"></i>Portfólio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contato"><i class="bi bi-mailbox"></i>contato</a>
            </li>
          
          </ul>

    </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Rafael Motta</h2>
                <span id="subtitle" class="text-white text-shadow">Refrigerista,"programador", Fotógrafo.</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Hoje eu faço manutenção em equipamentos variados de linha branca (ex: geladeira, lava roupas, ar-condicionado, microondas e etc...) mas tenho experiência de mais de sete anos na área de Help Desk e junto trabalhei como fotógrafo profissional captando clientes próprios e também em sociedade 
                        sempre tive o encargo de lidar diretamente com o cliente final para entender e sanar as suas dúvidas. 
                        já a quase 1 ano venho estudando programação a fundo e todo esse estudo me faz ter a vontade de retomar a faculdade de Sistema de informação em que cursei alguns periodos 

                    </p>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/IMG-20220320-WA0017.jpg" alt="Foto Rafael" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Refrigerista</h3>
                    <p>Atualmente realizo o diagnóstico e forneço a solucão do problema sempre prezando pela qualidade com menos custo para o cliente.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter"> 18 de Dezembro de 1992
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">29 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                                
                              </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Tocar violão</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">Refrigerista</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">1 ano</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <p>Além de Atualmente atender linha branca, faço serviços nos horários livres, de Help Desk.</p>
                </div>
            </div>


        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional voltado ao cliente adquiri algumas habilidades profissonais e pessoais.
                    A maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas. 
                </p>

                <div class="row">
                   <div class="col-md-6">
                        <p class="mt-3 mb-0">Photoshop</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Lightroom</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Windows</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">GIT</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                    </div>
                   <div class="col md-6">
                    <p class="mt-3 mb-0">SQL</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 10%;" 
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">10%</div>
                    </div>
                    <p class="mt-3 mb-0">FLASK</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                    <p class="mt-3 mb-0">BOOTSTRAP</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                    <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                        
                        <p class="mt-3 mb-0">Linux</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div> 
                        
                        <p class="mt-3 mb-0">Rede</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>    
                   </div> 
                 </div>

                 <hr class="hr mb-3">

                 <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a Detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>

                 </div>
            </div>

        </section>
        
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <p></p>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso Mecânica Split System</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Curso CAPRERJ 80h</em></p>
                            <p>Curso prático e teórico para executar instalação, manutenção preventiva, corretiva e higienização dos aparelhos split nos modelos:
                                Hi wall, Piso Teto e Cassete</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso Refrigeração Domiciliar</h4>
                            <h5>2021 - 2021</h5>
                            <p><em>Curso CAPRERJ 80h</em></p>
                            <p>Curso prático e teórico para executar manutenção preventiva, corretiva e higienização dos seguintes aparelhos Geladeiras (convencionais, frost free, defrost e side by side), freezer, bebedouros, refresqueira e ar condicionado de janela (higienização).</p>    
                        </div>
                        
                        <div class="cv-item" data-anime="up">
                            <h4>Curso Python</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Curso em Vídeo</em></p>
                            <p>Curso online voltado de nível básico e intermediario, com exercicios prático e teórico</p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso de montagem, manutenção e configuração de computadors</h4>
                            <h5>2011 - 2011</h5>
                            <p><em>Curso ADV</em></p>
                            <p>Recebi conceitos e técnicas para realizar montagens, reparos em Desktop, realizar configurações do sistema operacional e programas de terceiros (ex: pacote office e windows)</p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>2008 - 2010</h5>
                            <p><em>Colégio estadual Antônio Prado Júnior</em></p>
                            <p>Escola referência do ensino público no Estado do Rio de Janeiro no periodo.</p>

                        </div>

                    </div>
                <div class="col-md-6">
                    <h3 class="cv-title">Profissional</h3>
                    <p> </p>
                    <div class="cv-item" data-anime="up">
                        <h4>Mecânico Linha Branca</h4>
                        <h5>2021 - 2022</h5>
                        <p><em>M4 serviços</em></p>
                        <p>Mecânico de campo, responsável por diagnosticar e solucionar problemas em equipamentos de variados modelos e marcas dentro do seguimento de linha branca (geladeira, freezer, geladeira side by side, lava roupas, lava e seca, tnaquinho, microondas, ar-condicionado de janela)  </p>

                    </div>

                    <div class="cv-item" data-anime="up">
                        <h4>Técnico de Informática</h4>
                        <h5>2014 - 2021</h5>
                        <p><em>M4 Informática</em></p>
                        <p>Técnico Help Desk de campo, com foco ao atendimento ao usuário para diagnóstico de possiveis problemas no equipamento, orientação de uso do sistema operacional windows (XP, 7, 8, 8.1, 10, 11), instalação e orientação da utlização do pacote office, configurações de redes cabeadas e wireless, instalação, configuração de impressoras locais ou na rede.
                        </p>
                    </div>

                    <div class="cv-item" data-anime="up">
                        <h4>Fotógrafo</h4>
                        <h5>2015 - 2019</h5>
                        <p><em>Rafal Motta Fotografia</em></p>
                        <p>Fundei a empresa devido ao alto volume de clientes e demanda.
                            era responsável por captação de novos clientes, montagem de orçaentos e fechamentos de contrato.
                            Fotógrafo principal de eventos como: Casamentos, 15 anos, batizado, aniversários e ensaios externos.
                            trabalhei tanto na produção quanto na pós produção aonde adquiri alto conhecimento em tratamentos com os softwares Photoshop. lightroom
                        </p>
                    </div>

                    <div class="cv-item" data-anime="up">
                        <h4>Técnico de Informática</h4>
                        <h5>2012 - 2014</h5>
                        <p><em>Confix</em></p>
                        <p>Trabalhei com suporte aos funcionários do Clube de Engenharia do Rio de Janeiro e atuava no reparo emergêncial e preventivo dos Desktops, orientações das dúvidas sobre o sistema local de cadastro dos Sócios do Clube.
                        

                        </p>

                    </div>


                </div>
                </div>

            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="right">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>                      
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">                        
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portifólio.jpg" class="card-img-top" alt="Portifolio Responsivo">
                                        <div class="card-body">
                                            <h5 class="card-title">Portfólio Responsivo</h5>
                                            <p class="card-text">Projeto para introdução ao framework Flask e aperfeiçoamento de ferramentas como: HTML, CSS, bootstrap e javascript.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/mottarafa/Portifolio.git" target="_blank"
                                                    class="btn btn-outline-dark me-4"><i class="bi bi-github"></i></a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projeto em construção</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projeto em construção</p>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projeto em construção</p>
                                        </div>
                                    </div>
                                </div>                          
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projeto em construção</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projeto em construção</p>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3" data-anime="up"> Contato</h2>

                <div class="row">

                    <div class="col-md-12" data-anime="up">
                        <div class="card p-5 shadow bordercolor">                        

                            <div class="email" data-anime="up">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <a target="_blank" href="mailto:rafaelmotta18@gmail.com?subject=Olá Rafael, vim pelo seu portifólio"><p>rafaelmotta@gmail.com</p></a>
                            </div>

                            <div class="whatsapp" data-anime="right">
                                <h4><i class="bi bi-whatsapp"></i> Whatsapp</h4>
                                <a target="_blank" href="https://api.whatsapp.com/send?phone=5521976751668&text=Ol%C3%A1%20Rafael%2C%20vim%20pelo%20seu%20Portf%C3%B3lio!"><p>(21)97675-1668</p></a>                                
                            </div>

                            <div class="enderco" data-anime="left">
                                <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                                <p>Rocha, Rio de Janeiro, RJ</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14701.509774359796!2d-43.257799868026325!3d-22.899445093586568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997e80d6c9bb93%3A0xc5940e5378ad68cd!2sRocha%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1657970270652!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>
                    </div>                
                </div>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Rafael Motta</strong>
            </div>
        </div>

    </footer>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
</body>
</html>